@import "tailwindcss";

html,
body {

  margin: 0;

  padding: 0;

  min-height: 100%;
}

body {

  font-family:
    Inter,
    sans-serif;

  color: white;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.72),
      rgba(0, 0, 0, 0.72)
    ),
    url('/images/background.png');

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-color: #020617;
}

app-root {

  display: block;

  min-height: 100vh;
}


/* Removi os efeitos de glassmorphism e as bordas */

* {

  backdrop-filter: none !important;

  -webkit-backdrop-filter: none !important;
}

.card,
.profile-card,
.treino-card,
.loading-box,
.error-box,
.empty-box,
.input,
.select,
.btn-secondary,
.lgpd-modal {

  border: none !important;
}